@import '@styles/base.scss';

.card {
  @include card;

  .title {
    @include title;
  }

  .info {
    font-size: 18px;
  }

  .submitSection {
    @include directionX;
    gap: 5px;
    align-items: end;
    .label {
      @include label;
    }
    .input {
      @include input;
      // width: 50%;
    }
    .button {
      @include button;
      font-size: 12px;
      height: fit-content;
    }
  }

  .instruction {
    font-size: 14px;
  }
}
