@import '@styles/base.scss';

.navigation {
  @include directionX;
  padding: 16px 24px;
  border-radius: 25px;
  background-color: var(--color-bg);
  gap: 20px;
  margin-bottom: 24px;

  .item {
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid var(--color-primary-button);
  }
}

.card {
  @include card;

  .box {
    margin-bottom: 48px;

    .userCard {
      @include directionX;
      justify-content: space-between;
      align-items: center;

      .userSection {
        @include directionX;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
      }

      .actionSection {
        .removeBtn {
          cursor: pointer;
        }
      }
    }
  }
}

.modalContent {
  padding: 24px;

  .modalTitle {
    font-size: 18px;
    font-weight: 700;
    color: #d24545;
    padding-bottom: 20px;
  }

  .modalDesc {
    font-size: 14px;
    font-weight: 500;
  }
}
