@import '@styles/base.scss';

.navigation {
  @include directionX;
  padding: 16px 24px;
  border-radius: 25px;
  background-color: var(--color-bg);
  gap: 20px;
  .item {
    font-size: 14px;
    font-weight: 500;

    border-bottom: 1px solid var(--color-primary-button);
  }
}

.banner {
  height: 150px;
  padding: 24px;
  border-radius: 20px;
  background: linear-gradient(147deg,#f9dd92,#c907df,#25c5e2,#15c127);
  margin-top: 12px;
  background-size: 240% 240%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
