@import '@styles/base.scss';

.card {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-bg);
  padding: 24px;
  border-radius: 15px;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .infoSection {
    @include directionX;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;

    .lecturer {
      @include directionX;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
    }

    .subjectRoom {
      @include directionY;
      gap: 2px;

      .subject {
        @include directionX;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
      }

      .room {
        @include directionX;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .description {
    font-size: 14px;
  }
}
